
<div class="my-panel">
     <button class="btn btn-sm">Create a user</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col align-middle">#</th>
        <th scope="col align-middle">Name</th>
        <th scope="col align-middle">Address</th>
        <th scope="col align-middle">Phone</th>
        <th scope="col align-middle"></th>
        <th scope="col align-middle"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center ">
        <th class="align-middle" scope="row">1</th>
        <td class="align-middle">Mark</td>
        <td class="align-middle">Otto</td>
        <td class="align-middle">@mdo</td>
        <td class="align-middle"></td>
        <td class="align-middle">
          <button class="btn btn-light"><span class="oi oi-trash"></span></button>
          <button class="btn btn-light"><span class="oi oi-pencil"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
